/* ==================================================
<| mixin
================================================== */

@import "mixin.scss";

/* ==================================================
<| swiper
================================================== */

*{
    -webkit-user-select:none;//禁用文字选中 iOS
    -webkit-touch-callout:none;//禁用系统默认菜单 iOS
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
}

.swiper-slide {
    background: url(./imgs/bg.png) repeat-y 0 0;
    background-size: 100%;
}

.icon {
    display: inline-block;
}


/* ==================================================
<| common-divs
================================================== */

.onloading {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background: url(./imgs/bg.png) repeat-y 0 0;
    background-size: 100%;
    z-index: 1000;
    .icon{
        display: block;
        animation: loadRotate 2s infinite linear;
        margin: 0 auto;
        margin-top: 200px;
        // transform-origin: center;
    }
    @keyframes loadRotate {
        from {
            transform: scale(.4) rotate(0deg);
        }
        to {
            transform: scale(.4) rotate(360deg);
        }
    }
}
.music {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 32px;
    animation: rotate 2s infinite linear;
    z-index: 1000;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}