/* ==================================================
<| mixin
================================================== */

@import "mixin.scss";

/* ==================================================
<| swiper
================================================== */

.swiper-slide {
    background: url(./imgs/bg.png) repeat-y 0 0;
    background-size: 100%;
}

.icon {
    display: inline-block;
}


/* ==================================================
<| common-divs
================================================== */

.header {
    @include div-border;
    height: 1.0rem;
}

.footer {
    @include div-border;
    height: 2.5rem;
}

.music {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 32px;
    animation: rotate 2s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}