/* ==================================================
<| product
================================================== */

.m-product {
    * {
        margin: 0px;
        padding: 0px;
        border: 0px;
    }
    width: 100%;
    position: relative;
    /* ==============================================
	<| mixin
	============================================== */
    @import "mixin.scss";
    /* ==============================================
	<| header
	============================================== */
    .header {
        @include div-border;
        height: 1.0rem;
    }
    /* ==============================================
	<| page-top
	============================================== */
    .page-top {
        width: 100%;
        height: 1.0rem;
        padding-top: 1.0rem;
        /* title */
        .title {
            display: block;
            width: 8.0rem;
            height: 1.0rem;
            margin: 0 auto;
            text-align: center;
            font-size: 0.9rem;
            color: #000;
        }
    }
    /* ==============================================
	<| carousel
	============================================== */
    .carousel {
        width: 100%;
        height: 6.0rem;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        overflow: hidden;
    }
    .yearpro {
        width: 100%;
        position: relative;
        box-sizing: border-box;
        overflow: hidden;
    }
    /* ==============================================
	<| yearlist
	============================================== */
    .yearlist {
        width: 100%;
        height: 8.0rem;
        .menu {
            @include scrolling-list;
            margin: 0 auto;
        }
    }
    /* ==============================================
	<| footer
	============================================== */
    .footer {
        @include div-border;
        height: 2.0rem;
    }
    #thirdmusic {
        top: -1.1rem;
    }
    .yearpro .icon {
        transform: scale(.6);
    }
    .three_1 {
        position: absolute;
        left: 5%;
        top: 50px;
    }
    .three_3 {
        position: absolute;
        right: 5%;
        top: 50px;
    }
    .three_2 {
        display: block;
        margin: 0 auto;
    }
    .three_4{
        position: absolute;
        left: 50%;
        margin-left: -75px;
        top: 100px;
    }
}