#sign {
    overflow: hidden;
    padding-top: 1.2rem;
}

.sign-img-wrapper {
    text-align: center;
    margin-bottom: 40px;
}

#signwall {
    width: 60%;
}

.sign>a {
    display: block;
    width: 60%;
    height: 40px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    background-color: #00a0e9;
    color: #fff;
    text-decoration: none;
    line-height: 40px;
    letter-spacing: 2px;
    border-radius: 7px;
}

