/* ==================================================
<| title
================================================== */

.m-title {
    /* ==============================================
	<| all
	============================================== */
    * {
        margin: 0px;
        padding: 0px;
        border: 0px;
    }
    /* ==============================================
	<| main
	============================================== */
    .title {
        margin: auto;
        padding-top: 1.64rem;
        width: 3.2rem;
        font-size: 0.63rem;
        font-family: '楷体';
    }
    .e {
        width: 3.666667rem;
        margin: auto;
        margin-top: 1.253333rem;
        img {
            width: 100%;
            height: 100%;
        }
    }
    /* ==============================================
	<| fingerprint
	============================================== */
    .pageBottom{
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
    }
    .mark{
        color: #0a6eff;
    }
    .fingerWra{
        position: relative;
        text-align: center;
        margin-bottom: 26px;
    }
    .intro{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .fingerprint {
        width: 1.173333rem;
        height: 1.226667rem;
        visibility: hidden;
    }
    /* ==============================================
	<| page-bottom
	============================================== */
    .logo {
        padding-bottom: 20px;
        img {
            width: 3rem;
        }
    }
    #firstmusic {
        top: -2.1rem;
    }
    .bling {
        animation: bling 2s ease-in-out infinite;
    }
    @keyframes bling {
        0% {
            transform: scale(1.0);
        }
        50% {
            transform: scale(.92);
        }
        100% {
            transform: scale(1.0);
        }
    }
}