.m-words{
  .wordWra{
    position: relative;
    margin: 0 auto;
    transform: scale(0.5);
    >div{
      position: absolute;
      overflow: hidden;
    }
    .icon-finger{
      position: absolute;
      right: 20px;
      top: 20px;
    }
    .stage1{
      animation: firstSlide 1.8s ease-out infinite;      
    }
    .stage2{
      animation: secondSlide 1.8s ease-out infinite;      
    }
    .stage3{
      animation: thirdSlide 1.8s ease-out infinite;      
    }
  }
  @keyframes firstSlide {
    from{
      transform: translate3d(130px,110px,0);
    }
    to{
      transform: translate3d(0,-20px,0);
    }
  }
  @keyframes secondSlide {
    from{
      transform: translate3d(0,-20px,0);
    }
    to{
      transform: translate3d(-40px,100px,0);
    }
  }
  @keyframes thirdSlide {
    from{
      transform: translate3d(-40px,100px,0);
    }
    to{
      transform: translate3d(130px,110px,0);
    }
  }
  .first{
    bottom: 65px;
    right: 4px;
    width: 140px;
    height: 0px;
  }
  .icon-first{
    position: absolute;
    bottom: 0;
  }
  .second{
    left: 3px;
    top: 3px;
    height: 0;
  }
  .third{
    bottom: 0;
    left: 10px;
    width: 0;
  }
  .sentence{
    text-align: center;
  }
  .imgWra{
    position: absolute;
    bottom: 0;
    width: 100%;
    >img{
      width: 100%;
      opacity: 0;
      transition: opacity 1s ease-in-out;
      position: absolute;
      bottom: 0;
    }
  }

}